.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}

.content_style {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.pie_chart {
    margin-left: 30vw;
    height: 40vh;
    width: 40vw;
    align-items: center;
    text-align: center;
    font-size: auto;
}

.horizontal_line {
    margin-left: 16rem;
}