.file-autocomplete {
    height: auto;
    --autocomplete-focus: none;
}
             
.file-autocomplete:focus-within {
    --autocomplete-focus: block;
}
             
.suggestion-box {
    width: 100%;
    max-height: calc(var(--jp-widgets-inline-height)*5);
    overflow-y: scroll !important;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    display: var(--autocomplete-focus);
    border: 1px solid var(--jp-layout-color0);
}

.suggestion-box:empty {
    border: none !important;
}

.suggestion-box input {
    color: inherit !important;
    background-color: var(--jp-layout-color0);
}

.suggestion-box:hover {
    --autocomplete-focus: block;
}

.autocomplete-suggestions-hbox {
    background-color: var(--jp-layout-color0);
}
                          
.autocomplete-suggestions-hbox:hover {
    background-color: var(--jp-layout-color1);
}
             
.autocomplete-suggestions {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    border: none;
    background-color: transparent !important;
}  

.file-autocomplete-icon {
    font-size: 10px;
    width: 30px !important;
    padding-left: 5px;
    margin: 0;
    background-color: transparent !important;
}