:root {
    --ifk-layout-color0: var(--colab-primary-surface-color,
                          var(--vscode-editor-background,
                          var(--jp-layout-color0,
                          #ffffff)));

    --ifk-layout-color1: var(--colab-secondary-surface-color,
                          var(--vscode-editorWidget-background,
                          var(--jp-cell-editor-background,
                          #f7f7f7)));

    --ifk-layout-color2: var(--colab-highlighted-surface-color,
                          var(--vscode-dropdown-background,
                          var(--jp-layout-color4,
                          #e0e0e0)));

    --ifk-layout-color3: var(--colab-border-color,
                          var(--vscode-editorWidget-border,
                          var(--jp-cell-editor-border-color,
                          #dadada)));
    
    --ifk-form-border-color: var(--colab-border-color,
                              var(--vscode-editorWidget-border,
                              var(--jp-cell-editor-border-color,
                              #dadada)));

    --ifk-widget-input-color: var(--colab-primary-text-color,
                                var(--vscode-foreground,
                                var(--jp-ui-font-color0,
                                #1f1f1f)));

    --ifk-widget-label-color: var(--colab-secondary-text-color,
                                var(--vscode-descriptionForeground,
                                var(--jp-ui-font-color1,
                                #444746)));
  }
               
.cell-output-ipywidget-background:has(.ifk-form) {
  background-color: var(--ifk-layout-color0) !important;
  padding: var(--notebook-output-node-padding) 0 0 0 !important;
  margin: 0;
}

.ifk-masonry {
    display: block;
    column-width: 400px;
    column-gap: 10px;
}

.ifk-form {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    border: 1px solid var(--ifk-form-border-color);
    background-color: var(--ifk-layout-color1);
    break-inside: avoid; /* helps prevent form from splitting between columns */
    /* overflow: hidden; */
}

.ifk-form .widget-hbox,
.ifk-form .widget-vbox {
    overflow: visible;
}

.ifk-form-title {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    justify-content: end;
    text-align: right;;
    color: var(--ifk-widget-label-color);
    opacity: 50%;
}

.ifk-widget-box {
    padding: calc(2*var(--jp-widgets-margin));
    height: fit-content;
    margin-top: auto; /* Vertical alignment to bottom */
    min-width: 0px;
}

.ifk-widget-label {
    color: var(--ifk-widget-label-color);
}

.ifk-widget-box .widget-dropdown {
    overflow: hidden;
}

.ifk-widget-box:has(input[type=text]),
.ifk-widget-box:has(textarea) {
    flex: 1 1;
}
.ifk-widget-box:has(.ui-slider) {
    flex: 0 1 var(--jp-widgets-inline-width-short);
}

.ifk-widget-box .widget-inline-hbox {
    width: auto;
    margin: 0;
    align-items: center;
}

.ifk-widget-box .slider-container {
    min-width: 100px;
}

.ifk-widget-box .widget-label,
.ifk-widget-box .widget-label-basic {
    margin: 0;
    color: var(--ifk-widget-label-color) !important;
    width: fit-content;
}

.ifk-widget-box input,
.ifk-widget-box select,
.ifk-widget-box textarea {
    margin: 0;
    color: var(--ifk-widget-input-color) !important;
    background-color: var(--ifk-layout-color0) !important;
    border: none !important;
}

.ifk-widget-box .widget-readout {
    color: var(--ifk-widget-input-color);
}

.ifk-widget-box .widget-select {
    min-width: 8ch;
}

.ifk-widget-box input[type=number] {
    max-width: 16ch;
}

.ifk-widget-box button {
    background-color: var(--ifk-layout-color3);
    color: var(--ifk-widget-input-color);
}

.ifk-widget-box button:hover {
    background-color: var(--ifk-layout-color2);
}

.ifk-form-toggle-button {
    background-color: transparent;
    color: var(--ifk-widget-label-color);
}

.ifk-widget-input-error input,
.ifk-widget-input-error select {
    background-color: rgba(255, 0, 0, 0.25) !important;
}

.ifk-widget-input-disabled input {
    opacity: var(--jp-widgets-disabled-opacity);
}

.ifk-widget-input-missing input {
    border: 1px solid rgba(255, 0, 0, 0.75) !important;
}

.ifk-tooltip {
    background-color: var(--ifk-layout-color3);
    color: var(--ifk-layout-color1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;          /* Makes it a circle */
    font-weight: bold;
    margin-left: 5px;
}

.ifk-tooltip-text {
    display: none;
    position: absolute;
    z-index: 1000;
    padding: var(--jp-widgets-margin);
    border: 1px solid var(--ifk-layout-color3);
    background-color: var(--ifk-layout-color1);
    color: var(--ifk-widget-label-color);
    font-weight: normal;
    font-size: 0.9em;
    line-height: normal;
}

.ifk-tooltip:hover .ifk-tooltip-text {
    visibility: visible;
}

.ifk-widget-box .suggestion-box {
    border: 1px solid var(--ifk-layout-color0);
    background-color: var(--ifk-layout-color0);
    color: var(--ifk-widget-label-color);
}

.ifk-widget-box .autocomplete-suggestions-hbox {
    background-color: var(--ifk-layout-color0);
}
                          
.ifk-widget-box .autocomplete-suggestions-hbox:hover {
    background-color: var(--ifk-layout-color1);
}

.ifk-widget-box .widget-slider .widget-readout {
    min-width: fit-content;
}