[project]
name = "astronomer-registry-cleanup"
version = "0.1.2"
description = "A command-line tool for managing Docker registry cleanup operations in Astronomer environments"
readme = "README.md"
license = {file = "LICENSE"}
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: System :: Systems Administration",
    "Topic :: Utilities",
]
dependencies = [
    "cryptography>=45.0.6",
    "docker>=7.1.0",
    "docker-registry-client>=0.5.2",
    "pyjwt>=2.10.1",
    "requests>=2.32.5",
]

[project.optional-dependencies]
dev = [
    "ruff",
]
k8s = [
    "kubernetes",
]

[project.scripts]
astronomer-registry-cleanup = "astronomer_registry_cleanup:main"

[tool.uv]
package = true

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/astronomer_registry_cleanup"]

# https://docs.astral.sh/ruff/settings/
[tool.ruff]
line-length = 132
target-version = "py311"

[tool.ruff.lint]
fixable = ["ALL"]

# https://docs.astral.sh/ruff/rules/
select = [
  "ASYNC",
  "ARG",
  "BLE",
  "C",
  "E",
  "F",
#  "FBT",
  "FLY",
  "FURB",
  "I",
  "N",
  "PERF",
  "PGH",
  "PL",
  "Q",
  "R",
  "RUF",
  "S",
  "TID",
  "UP",
  "W",
  "YTT",
]
ignore = [
  "E501",
  "PLR2004",
  "PLW2901",
  "S311",
  "S603",
]
[tool.ruff.lint.per-file-ignores]
"astro-runtime-version-table.py" = [
  "FBT001",
  "FBT003",
  "N815",
]

[tool.ruff.lint.mccabe]
max-complexity = 10
