[build-system]
requires = [
    "setuptools>=60",
    "wheel",
]
build-backend = "setuptools.build_meta"

[project]
name = "lamestation"
description = "LameStation SDK."
version = "0.10.5"

classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]

dependencies = []

license = {"text" = "GPL-3.0-or-later"}

readme = "README.md"

requires-python = ">=3.9"

[project.urls]
"Home" = "https://gitlab.com/lamestation/sdk"
"Issues" = "https://gitlab.com/lamestation/sdk/-/issues"

[tool.isort]
profile = "black"

[tool.setuptools.packages.find]
where = ["."]
include = ["lame*"]
