:root {
	/* Identity */
	--primary : #348355;
	--secondary: #b0623e;
	--accent: #fc8853;
	--accent-faded: #fc885344;
	--accent-half: #fc885399;
	--accent-primary-transition: #6a6e4c;
	--accent-secondary-transition: #313224;

	/* Header */
	--header-bg: black;
	--header-logo-text-color: white;
	--header-links: white;
	--header-links-active: var(--primary);
	--header-links-hover: var(--primary);
	--header-height: 60px;
	--header-font-size: 0.95em;
	--header-title-font-size: 1.1em;

	--header-socials-separator: rgba(255, 255, 255, 0.3);

	/* Locale */
	--header-locale-bg: transparent;
	--header-locale-color: rgba(255, 255, 255, 0.9);
	--header-locale-border: rgba(255, 255, 255, 0.6);

	/* Locale Hover */
	--header-locale-bg-hover: rgba(255, 255, 255, 0.9);
	--header-locale-color-hover: black;
	--header-locale-border-hover: rgba(255, 255, 255, 0.6);

	/* Mobile Menu */
	--mobile-menu-bg: black;
	--hamburger-button-color: white;

	--hamburger-button-color-hover: white;

	/* Footer */
	--footer-bg: black;
	--footer-color: white;

	--chip-bg: var(--primary);
}
